.menu {
  text-align: center;
}
.user-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-left: 10px;
}
.icon {
  color: azure;
}
.name {
  text-decoration: none;
  color: #fff;
}
.link {
  color: aqua;
}
